/*---FONTS---*/
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: NotoSansGeorgian;
    src: url(./fonts/Noto_Sans_Georgian/static/NotoSansGeorgian/NotoSansGeorgian-Light.ttf);
}
@font-face {
    font-family: NotoSerifGeorgian;
    src: url(./fonts/Noto_Serif_Georgian/static/NotoSerifGeorgian/NotoSerifGeorgian-Light.ttf);
}
/*---FONTS---*/

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 1032px;
    height: 350px;
    border-radius: 15px;
    padding: 16px;
    background: #e5e9ea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboardRow {
    width: 1000px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    gap: 6px;
}

.key {
    cursor: pointer;
    transition: .1s;
}

.key:hover {
    box-shadow: -1px -1px 4px #535353;
    transition: .1s;
}

.key.active {
    box-shadow: inset 0px 0px 6px 2px #b5cb7b;
}

.graykey {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: #535353;
    color: #f9f7f3;
}

.graykey:hover {
    background: #454545;
}

.eng {
    position: relative;
}

.caseDown {
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 15px;
}

.caseUp {
    position: absolute;
    font-size: 16px;
    left: 3px;
    top: 1px;
}

.darkkey {
    width: 60px;
    height: 50px;
    border-radius: 4px;
    background: #303032;
    color: #e4e2de;
    font-size: 20px;
    padding-top: 12px;
    text-align: center;
}

.darkkey:hover {
    background: #2a2a2c;
}

.field {
    width: 600px;
    height: 350px;
    border-radius: 4px;
    margin: 50px 0;
    border: solid 3px #303032;
}

.title {
    font-family: 'Montserrat';
    font-size: 50px;
}

.description {
    font-family: 'Roboto';
}

.language {
    font-family: 'Roboto';
}